*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: #333;
  --txt-clr-400: hsl(200, 70%, 60%);
  --txt-clr-300: hsl(0, 0%, 70%);
  --border-clr: hsl(200, 70%, 30%);
  --saved-clr: hsl(122, 100%, 20%);
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
body {
  background-color: var(--body-bg);
  color: var(--txt-clr-400);
  font-size: 1rem;
  height: 100vh;
  padding: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  max-width: 600px;
  margin-inline: auto;
}
header {
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}

input {
  padding: 1em;
  background: #777;
  border: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
}
input:focus {
  outline: 2px solid var(--border-clr);
}
.results {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr 60px;
  border: 1px solid var(--border-clr);
  padding: 1rem;
  border-radius: 0.25rem;
}
.card__save {
  display: grid;
  place-content: center;
}
.card__save svg {
  fill: none;
  stroke: var(--border-clr);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  cursor: pointer;
}
.card__save.saved svg {
  fill: var(--saved-clr);
  stroke: var(--saved-clr);
}
.card__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card__details {
  color: var(--txt-clr-300);
}
