*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0, 0%, 10%);
  --body-clr: hsl(255 100% 100%);
}

body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-size: 1rem;
  font-family: "Handlee", cursive;
  line-height: 1.5rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

.card-container {
  --rad-l: 120px;
  --rad-s: 60px;
  --offset: calc(var(--rad-l) * 2);
  --degrees: 0;
  width: calc(var(--rad-l) * 5);
  aspect-ratio: 1;
  border: 1px dashed #333;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
}
.card-container:hover .card-mask {
  background-color: transparent;
  outline-offset: calc(var(--rad-l) * 1.5);
  outline-color: #fff;
  font-size: 0;
}
.card-container:hover .card-mask .hamburger {
  opacity: 0;
}
.card-container .card-mask {
  width: calc(var(--rad-l));
  aspect-ratio: 1;
  border-radius: inherit;
  display: grid;
  place-items: center;
  font-size: 6rem;
  outline: 1px solid #ddd;
  transition: outline-offset 1500ms cubic-bezier(0.075, 0.82, 0.165, 1), color 300ms, font-size 300ms;
}
.card-container .card {
  width: calc(var(--rad-s) * 2);
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.card-container .card img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 300ms ease-in, opacity 150ms ease-in;
  border: 3px solid #fff;
}
.card-container .card .card-contents {
  position: absolute;
  width: calc(var(--rad-l) * 2);
  height: calc(var(--rad-l) * 2);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms ease-in;
  z-index: 3;
}
.card-container .card .card-contents img {
  scale: 0;
}
.card-container .card .card-thumb {
  width: calc(var(--rad-s) * 2);
  aspect-ratio: 1;
  background-color: var(--body-bg);
  border-radius: inherit;
  position: absolute;
  display: grid;
  place-items: center;
  opacity: 0;
  z-index: -1;
  transition: transform 1500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 300ms;
}
.card-container .card .card-thumb img {
  opacity: 0.5;
}
.card-container .card .card-thumb:hover img {
  opacity: 1;
}
.card-container .card:hover .card-contents {
  opacity: 1;
}
.card-container .card:hover .card-contents img {
  scale: 1;
}
.card-container:hover .card .card-thumb {
  transform: translate(calc(cos(var(--degrees)) * var(--offset)), calc(sin(var(--degrees)) * var(--offset)));
}

.card-container:hover .card:nth-of-type(1) .card-thumb {
  --degrees: 1 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(2) .card-thumb {
  --degrees: 2 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(3) .card-thumb {
  --degrees: 3 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(4) .card-thumb {
  --degrees: 4 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(5) .card-thumb {
  --degrees: 5 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(6) .card-thumb {
  --degrees: 6 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(7) .card-thumb {
  --degrees: 7 * 360deg / 8;
  opacity: 1;
}

.card-container:hover .card:nth-of-type(8) .card-thumb {
  --degrees: 8 * 360deg / 8;
  opacity: 1;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 40px;
  border-radius: 3px;
  transition: opacity 300ms;
}

.hamburger::before {
  content: "";
  margin-top: -12px;
}

.hamburger::after {
  content: "";
  margin-top: 12px;
}/*# sourceMappingURL=index.css.map */