@import "./base";
@import "./variables";
@import "./mixins";

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bg-clr);
  font-size: 1rem;
  line-height: 2em;
}
.nav-main {
  background-color: var(--bg-header);
  box-shadow: 0 5px 0 rgb(0, 0, 0, 1);

  &__header {
    @include flexCenter($justify: space-between);
    padding: 0 2rem;
    .logo img {
      margin-top: -10px; /* to compensate for my poor logo svg*/
      max-width: 300px;
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    height: 0;
    overflow: hidden;
    transition: height 300ms linear;
    li {
      height: 3em;
    }
    a {
      color: grey;
      letter-spacing: 0.1rem;
      display: block;
      padding: 0.5rem 2rem;
      transition: padding 300ms linear, background-color 300ms linear;
      text-align: right;
      text-decoration: none;
    }
    a:hover {
      display: block;
      background: var(--menu-hover, pink);
      color: #000;
      padding-left: 2.5rem;
    }
  }
  .show-menu {
    height: 9em; /* not convinced by this as it is a predefined height - this should be a calculation of all the menu items*/
  }
}
.hamburger {
  margin-left: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  fill: var(--bt-color);
  .line {
    transition: y var(--hamburger-speed) ease-in var(--hamburger-speed),
      rotate var(--hamburger-speed) ease-in, opacity 0ms var(--hamburger-speed),
      fill var(--hamburger-speed) ease-in;
    transform-origin: center;
  }
  :hover {
    fill: black;
  }
}
.hamburger[aria-expanded="true"] .line {
  transition: y var(--hamburger-speed) ease-in,
    rotate var(--hamburger-speed) ease-in var(--hamburger-speed),
    opacity 0ms var(--hamburger-speed);
}
.hamburger[aria-expanded="true"] .line__bottom,
.hamburger[aria-expanded="true"] .line__top {
  y: 45px;
}
.hamburger[aria-expanded="true"] .line__top {
  rotate: 45deg;
}
.hamburger[aria-expanded="true"] .line__bottom {
  rotate: -45deg;
}
.hamburger[aria-expanded="true"] .line__middle {
  opacity: 0;
}
.hamburger main {
  padding: 4rem;
}
main > * {
  padding: 0 3em;
  margin-inline: auto;
}

.circle {
  @include circle(200px);
  background-color: red;
}
@media (min-width: 800px) {
  header,
  main {
    padding: 0 5em;
  }
  .nav-main {
    @include flexCenter($justify: space-between);

    &__header {
      max-width: 1152px;
      width: 100%;
      margin-inline: auto;
      justify-content: space-between;
    }
    .hamburger {
      display: none;
    }
    nav {
      margin-left: auto;
    }
    .menu {
      height: auto;
      @include flexCenter($justify: space-between);
      text-align: center;

      li {
        height: auto;
      }
      a {
        padding: 0;
        margin: 0 0.5rem;
        transition: none;
      }
      a:hover {
        background: transparent;
        padding: 0;
      }
    }
  }
}
