:root {
  --w-main: 90%;
  --box-shadow-w: 3px;
  --box-shadow: hsl(0, 0%, 0%);
  --box-border: hsl(0, 0%, 0%);
  --bg-body: hsl(0, 0%, 20%);
  --bg-header: hsl(0, 0%, 20%);
  --bg-face: hsl(0, 0%, 0%);
  --clr-hands: hsl(0, 0%, 100%);
  --clr-seconds: red;
  --clr-numbers: hsl(0, 0%, 100%);
  --br-face: hsl(127, 73%, 52%);
  --bg-face-outline: var(--bg-face);
  --spc-numbers: 0.5em;
  --fs-numbers: 0.4em;
  --num-distance: 120px;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background: var(--bg-body, #eee);
  color: #fff;
  margin: 0;
  padding: 1em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
}
main {
  width: var(--w-main, 80%);
}
main > * {
  --clr: var(--box-border);
  background-color: var(--bg-wrapper);

  font-size: 1.2em;
  margin-bottom: 1em;
  border-radius: 4px;
  padding: 0.5 1em;
}
header {
  padding: 1em 2em;
}
header h1 {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.wrapper {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.clock {
  container-type: inline-size;
  container-name: clock;
  inset: 0;
  width: clamp(200px, 300px, 400px); /*clamp(<min>, <ideal>, <max>):*/
  aspect-ratio: 1;
  background-color: var(--bg-face);
  border-radius: 50%;
  position: relative;
  border: 3px solid var(--br-face);
  outline: 2px solid var(--bg-face-outline);
  box-shadow: 0 0 5px 5px black;
}

.numbers > ul {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.numbers li {
  /* counter-increment: item; */
  transform-origin: center center;
  position: absolute;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  font-weight: 500;
  color: var(--clr-numbers);
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  display: none;
}

.hands {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hands::after {
  /* add central circle over clock hands*/
  content: "";
  width: 10%;
  aspect-ratio: 1;
  background-color: var(--bg-face);
  border: 2px solid white;
  border-radius: 1in;
  z-index: 4;
}
.hands > div {
  background-color: var(--clr-hands);
  width: 2%;
  position: absolute;
  height: 36%;
  transform-origin: bottom center;
  bottom: 50%;
  border-radius: 10px;
  /* box-shadow: 3px 3px 0 black; */
}

.hands > div:not(.hand-sec) {
  /* this transition just makes the initial load smoother*/
  transition: rotate 1000ms ease-in-out;
}
.hands .hand-hour {
  height: 26%;
  width: 3%;
  rotate: 45deg;
}
.hands .hand-sec {
  rotate: -45deg;
  width: 1%;
  height: 45%;
  background-color: var(--clr-seconds);
}
/* @ container not yet supported on all browsers */
@container clock (min-width: 120px) {
  .numbers li:nth-of-type(3n) {
    display: block;
  }
}

@container clock (min-width: 320px) {
  .numbers li {
    display: block;
  }
}
@media all and (min-width: 220px) {
  .numbers li:nth-of-type(3n) {
    display: block;
  }
}
@media all and (min-width: 480px) {
  .numbers li {
    display: block;
  }
}
