*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
:root {
  --box-shadow-w: 1px;
  --box-shadow: hsl(0, 0%, 0%);
  --box-border: hsl(0, 0%, 0%);
  --bg-body: hsl(0, 0%, 87%);
  --bg-h1: hsl(60, 100%, 94%);
  --bg-header: hsl(210, 74%, 82%);
  --bg-wrapper: hsl(0, 0%, 96%);
  --clr-btn: hsl(0, 0%, 100%);
  --w-main: 100%;
}
body {
  background: var(--bg-body, #eee);
  padding: 1em 2em;
  height: 100vh;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  display: flex;
  justify-content: center;
  align-items: top;
}
main {
  width: var(--w-main, 80%);
}
main > * {
  --clr: var(--box-border);
  background-color: var(--bg-wrapper);
  border: 1px solid var(--clr);
  font-size: 1.2em;
  margin-bottom: 1em;
  border-radius: 4px;
  padding: 0.5 1em;
}

header {
  background-color: var(--bg-header);
  h1 {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
}

.slider {
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;

  &__images {
    display: flex;
    transition: transform 500ms ease-in-out;
    img {
      min-width: 100%;
      height: auto;
      display: block;
    }
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--clr-btn);
    opacity: 0.7;
    font-size: 2em;
    cursor: pointer;

    //       width:30px;
    //   aspect-ratio:1;
    //   border-radius: 50%;
    //   display:flex;
    //   justify-content: center;
    //   align-items:center;
    //   line-height: 0;
    // }
    // .slider .slider-btn::before{
    // 	content:'\276E';
    // }
    // .slider .slider-btn:last-of-type::before{
    // 	content:'\276F';
    // }

    &[slider-btn="next"] {
      right: 10px;
      left: auto;
    }
    &:hover {
      opacity: 1;
    }
  }
}
@media all and (min-width: 480px) {
  :root {
    --w-main: 60vw;
    --sh-w: 6px;
  }
}
