*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
:root {
  /* --hue-neutral:#0099CC; */
  --bg-body: hsl(33, 100%, 88%);
  --bg-h1: hsl(60, 100%, 94%);
  --bg-wrapper: hsl(200, 60%, 90%);
  --hue-neutral: 220;
  --hue-wrong: 0;
  --hue-correct: 120;
  --box-shadow: #000;
  --box-border: #000;
  --clr-easy: hsl(120, 100%, 25%);
  --clr-medium: hsl(39, 100%, 50%);
  --clr-difficult: rgb(255, 0, 0);
}
body {
  background: var(--bg-body, #eee);
  margin: 0;
  height: 100vh;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  color: hsl(39, 100%, 50%);
}
h1 {
  padding: 1em 3em;
  border: 4px solid var(--box-border);
  background-color: var(--bg-h1);
  box-shadow: 10px 10px 0 var(--box-shadow);
  margin-bottom: 2em;
}
main {
  width: 800px;
  max-width: 80%;
}
#wrapper {
  --clr: var(--box-border);
  background-color: var(--bg-wrapper);
  padding: 1em 2em;
  border: 4px solid var(--clr);
  box-shadow: 10px 10px 0 var(--clr);
  color: hsl(200, 100%, 30%);
  font-size: 2em;
}
/* change hue var for each question level */
#wrapper.easy {
  --clr: var(--clr-easy);
}
#wrapper.medium {
  --clr: var(--clr-medium);
}
#wrapper.difficult {
  --clr: var(--clr-difficult);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 30%);
  border: 1px solid hsl(var(--hue), 100%, 20%);
  border-radius: 5px;
  padding: 0.5em 0.75em;
  color: #fff;
  outline: none;
  font-size: 1em;
  transition: transform 3s ease-in;
}
.btn:hover {
  border-color: #000;
}
.btn.correct {
  --hue: var(--hue-correct);
  color: #000;
}
.btn.wrong {
  --hue: var(--hue-wrong);
}
.btn__start,
.btn__next {
  font-weight: 700;
}
.quiz_controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  opacity: 0;
  display: none;
}
