*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
:root {
  /* --hue-neutral:#0099CC; */
  --bg-body: hsl(175, 13%, 83%);
  --bg-h1: hsl(60, 100%, 94%);
  --bg-header: hsl(0, 0%, 100%);
  --bg-wrapper: hsl(0, 0%, 96%);
  --clr-neutral: hsl(205, 77%, 53%);
  --clr-btn: hsl(201, 60%, 68%);
  --clr-wrong: hsl(0, 100%, 50%);
  --clr-correct: hsl(120, 100%, 25%);

  --box-border: hsl(0, 0%, 0%);

  --clr-easy: hsl(120, 100%, 25%);
  --clr-medium: hsl(39, 100%, 50%);
  --clr-hard: hsl(0, 100%, 50%);
}
body {
  background: var(--bg-body, #eee);
  margin: 1em;
  height: 100vh;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: left;
}
main {
  width: 800px;
  max-width: 80%;
}
main > * {
  border: 1px solid var(--box-border);
  margin-bottom: 1em;
  padding: 1em 1.5em;
  font-size: 1.2em;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

header {
  text-align: center;
}
h1 {
  margin: 0;
}

.quiz-header {
  background-color: var(--bg-header);
  padding: 1em 1.5em;
}
.quiz-header__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.quiz-header__wrapper label {
  display: block;
}
@media all and (min-width: 480px) {
  .quiz-header__wrapper {
    /* grid-template-columns: 2fr 1fr; */
  }
}
.quiz__cat_select {
  font-size: inherit;
  padding: 0.8em 1em;
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 2px var(--clr-btn);
}
.quiz__cat_select:focus {
  box-shadow: 5px 5px 0 black;
}
.quiz-msg {
  border-top: 1px solid #000;
  text-align: center;
  padding: 1em 2em;
  margin-top: 1em;
}

.hide {
  display: none;
}
.quiz__wrapper {
  --clr: var(--box-border);
  border: 1px solid var(--clr);
  color: hsl(200, 100%, 30%);
  padding: 0;
  position: relative;
}
/* change hue var for each question level */
.quiz__wrapper.easy {
  --clr: var(--clr-easy);
}
.quiz__wrapper.medium {
  --clr: var(--clr-medium);
}
.quiz__wrapper.hard {
  --clr: var(--clr-hard);
}
.quiz__title {
  padding: 0.5em 1em;
  background-color: var(--clr);
  color: #fff;
  font-size: 1em;
}
.question {
  padding: 1em 2em;
  font-size: 0.8em;
  border-bottom: 1px solid #000;
}
.question__title {
  font-size: 1.4em;
}

.answers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
  margin: 20px 0;
}
.btn {
  --clr: var(--clr-btn);
  background-color: var(--clr);
  border: 1px solid hsl(var(--hue), 100%, 20%);
  border-radius: 5px;
  padding: 0.8em 0.75em;
  color: #000;
  outline: none;
  font-size: 1em;
  transition: transform 3s ease-in;
  cursor: pointer;
}
.btn:hover {
  border-color: #000;
  box-shadow: 0 0 0 2px black;
  /* text-shadow: 1px 1px 0 #333; */
}
.btn.correct {
  --clr: var(--clr-correct);
  color: #000;
  color: #fff;
}
.btn.wrong {
  --clr: var(--clr-wrong);
  color: #fff;
}
.btn__start,
.btn__next {
  font-weight: 700;
}
.quiz__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
}

.quiz__level {
  margin-right: auto;
  color: var(--clr);
}

.source {
  margin: 0;
  border: none;
  box-shadow: none;
  font-size: 0.9em;
  padding: 0;
  text-align: left;
  background-color: transparent;
}
