*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: hsl(0, 0%, 10%);
  --body-clr: hsl(255 100% 100%);
}
body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}
section {
  border: 1px solid greenyellow;
  padding: 2rem;
  text-align: center;
}
p {
  font-size: 2rem;
}
#timer {
}
.num {
  width: 40px;
}
.num--two::after {
  content: " : ";
}
.num--three {
  width: 60px;
}
