*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: hsl(200 100% 85%);
  --body-txt: hsl(200 100% 10%);
  --clr-border: hsl(200 100% 10%);
  --txt-300: hsl(200, 100%, 20%);
}
body {
  background-color: var(--body-bg);
  color: var(--body-txt);
  font-size: 1rem;
  height: 100vh;
  padding: 1em;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.blurred {
  filter: blur(3px);
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid var(--clr-border);
}
.weather-icon {
  width: 45px;
  aspect-ratio: 1;
  object-fit: contain;
}
.weather-icon.large {
  width: 80px;
}
.header-current-temp {
  font-size: 2rem;
  margin-left: 1rem;
}

.header-right {
  display: grid;
  width: 50%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}
.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--txt-300);
}
.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}
.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.day-card-day {
  font-size: 0.75rem;
  color: var(--txt-300);
  margin-top: 0.5rem;
}

.hour-section{
  width: 100%;
  text-align: center;
  border-spacing: 0;

}
.hour-row{
  background-color: hsl(200,60%,75%) ;
}
.hour-row:nth-child(2n){
  background-color: hsl(200,60%,70%) ;
}
.hour-row > td{
  padding:.25rem .5rem;
}
