*,
::before,
::after {
    box-sizing: border-box;
}
:root{
 --body-bg:#333;
 --body-txt: hsl(255,100% 100%);
}
body{
  background-color: var(--body-bg);
  color: var(--body-txt);
  font-size:1rem;
  height: 100vh;
  padding:1em;
}
header{
    margin-bottom: 1rem;
}